@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,700i&display=swap&subset=cyrillic');

*{
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

header {
    margin: 0;
    padding: 0;
    background-color: rgba(162, 162, 197, 0.5);
    text-align: center;
}

#header-text {
    padding: 1.5rem;
}

.header-title {
    margin-top: 0;
    margin-bottom: 1rem;
}

#logo{
    width: 85px;
    padding:1rem;
    float: left;

}

nav{
    clear: both;
    background-color: #176fc1;
}

ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    clear: both;
    overflow: hidden;
}

.g{
    float: left;
    
}

a{
    text-decoration: none;
    display: block;
    font-weight: bolder;color: black;
    padding: 12px;
    border-radius: 4px;

}

a:hover{
    background: #e2dbdb;
}


main {
    clear: both;
}

.main-text{
    min-height: 1024px;
    background-image: url(dk_WB_copy_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(100% - 305px);
    float: left;
    padding: 1rem;
    font-size: 1.3rem;
    text-align: justify;
}

h1, h3{
    text-align: center;
}

p{
    text-indent: 1rem;
}
img{
    width: 200px;
     height: 100px;
     float: left;
     margin: 5px;
}
.list{
    height: 150px;
    width: 150px;
    margin: 5px;
    background: #176fc1;
    float: left;
    border: 2px solid black;
}
.left-panel{
    min-height: 1060px;
    background:  rgba(162, 162, 197, 0.5);
    width: 300px;
    float: left;
    margin-right: 5px;
    font-size: 1.3rem;
}
.left-panel a{
    margin: 2px auto;
    background: #176fc1;
    padding: 2px;
}

.footer {
    background-color:  #176fc1;
    text-align: center;
    padding: 1rem; 
    clear: both;
    font-weight: 600;  
}
